<div class="container">
  <div class="title-field">
    <h1>Business name</h1>
    <h5>My Roster</h5>
  </div>
  <div class="row publish-shifts-bar">
    <div class="week-bar">
      <button class="btn btn-default"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
      <h5>WEEK ENDING 15/4</h5>
      <button class="btn btn-default"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="row data-table">
    <table class="table">
      <thead>
        <tr>
          <th>09/4 <b>MON</b></th>
          <th>10/4 <b>TUE</b></th>
          <th>11/4 <b>WED</b></th>
          <th>12/4 <b>THU</b></th>
          <th>13/4 <b>FRI</b></th>
          <th>14/4 <b>SAT</b></th>
          <th>15/4 <b>SUN</b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class=" td-cell">
              <div class="stick blue-stick"></div>
              <div class="td-text">
                <div class="td-title">Front Bar</div>
                <div class="timeft">9:00am - 5:30pm</div>
                <div class="td-info">(Dispense)</div>
                <div class="td-accept-decline">
                  <div class="decline">
                    <img src="../assets/images/decline.png">
                    <div>Decline</div>
                  </div>
                  <div class="accept">
                    <img src="../assets/images/accept.png">
                    <div>Accept</div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class=" td-cell">
              <div class="stick blue-stick"></div>
              <div class="td-text">
                <div  class="td-title">Front Bar</div>
                <div class="timeft">9:00am - 5:30pm</div>
                <div  class="td-info">(Dispense)</div>
                <div  class="td-accept-decline">
                  <div class="check-cross">
                    <img src="./assets/images/check.png">
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class=" td-cell">
              <div class="stick red-stick"></div>
              <div class="td-text">
                <div  class="td-title">Front Bar</div>
                <div class="timeft">9:00am - 5:30pm</div>
                <div  class="td-info">(Dispense)</div>
                <div  class="td-accept-decline">
                  <div class="check-cross">
                    <img src="./assets/images/check.png">
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td></td>
          <td></td>
          <td>
            <div class=" td-cell">
              <div class="stick red-stick"></div>
              <div class="td-text">
                <div  class="td-title">Front Bar</div>
                <div class="timeft">9:00am - 5:30pm</div>
                <div  class="td-info">(Dispense)</div>
                <div class="td-accept-decline">
                  <div class="decline">
                    <img src="../assets/images/decline.png">
                    <div>Decline</div>
                  </div>
                  <div class="accept">
                    <img src="../assets/images/accept.png">
                    <div>Accept</div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <div class=" td-cell">
              <div class="stick blue-stick"></div>
              <div class="td-text">
                <div  class="td-title">Front Bar</div>
                <div class="timeft">9:00am - 5:30pm</div>
                <div  class="td-info">(Dispense)</div>
                <div  class="td-accept-decline">
                  <div class="check-cross">
                    <img src="./assets/images/cross.png">
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class=" td-cell">
              <div class="stick green-stick"></div>
              <div class="td-text">
                <div  class="td-title">Front Bar</div>
                <div class="timeft">9:00am - 5:30pm</div>
                <div  class="td-info">(Dispense)</div>
                <div  class="td-accept-decline">
                  <div class="check-cross">
                    <img src="./assets/images/cross.png">
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td></td>
          <td>
            <div class=" td-cell">
              <div class="stick green-stick"></div>
              <div class="td-text">
                <div  class="td-title">Front Bar</div>
                <div class="timeft">9:00am - 5:30pm</div>
                <div  class="td-info">(Dispense)</div>
                <div  class="td-accept-decline">
                  <div class="check-cross">
                    <img src="./assets/images/check.png">
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class=" td-cell">
              <div class="stick green-stick"></div>
              <div class="td-text">
                <div  class="td-title">Front Bar</div>
                <div class="timeft">9:00am - 5:30pm</div>
                <div  class="td-info">(Dispense)</div>
                <div class="td-accept-decline">
                  <div class="decline">
                    <img src="../assets/images/decline.png">
                    <div>Decline</div>
                  </div>
                  <div class="accept">
                    <img src="../assets/images/accept.png">
                    <div>Accept</div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class=" td-cell">
              <div class="stick green-stick"></div>
              <div class="td-text">
                <div  class="td-title">Front Bar</div>
                <div class="timeft">9:00am - 5:30pm</div>
                <div  class="td-info">(Dispense)</div>
                <div  class="td-accept-decline">
                  <div class="check-cross">
                    <img src="./assets/images/check.png">
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class=" td-cell">
              <div class="stick blue-stick"></div>
              <div class="td-text">
                <div  class="td-title">Front Bar</div>
                <div class="timeft">9:00am - 5:30pm</div>
                <div  class="td-info">(Dispense)</div>
                <div class="td-accept-decline">
                  <div class="decline">
                    <img src="../assets/images/decline.png">
                    <div>Decline</div>
                  </div>
                  <div class="accept">
                    <img src="../assets/images/accept.png">
                    <div>Accept</div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #chevronUp>
      <i class="fa fa-chevron-up" aria-hidden="true"></i>
</ng-template>
