<h1 md-dialog-title>Shift Acceptance</h1>
<md-dialog-content>
    <h6>Do you require confirmation of these shifts from the employee?</h6>
    <md-radio-group class="ps-radio-group" [(ngModel)]="psTypeValue">
        <md-radio-button class="ps-radio-button" disableRipple *ngFor="let agreeOption of agreeOptions" [value]="agreeOption">
            {{agreeOption}}
        </md-radio-button>
    </md-radio-group>
    <div class="button-group">
        <button md-button class="btn cancel-btn" md-dialog-close>CANCEL</button>
        <button class="btn btn-primary continue-btn" [md-dialog-close]="true" (click)="openSuccess()">PUBLISH</button>
    </div>
</md-dialog-content>
