<div class="container for_reset_pass">
        <div class="logos">
            <img src="../assets/images/logo1.png">
            <img src="../assets/images/logo2.png">
            <img src="../assets/images/logo3.png">
        </div>
        <div class="mobile-title">
            You've been invited to join
            <div class="group-title">Concorde</div>
        </div>
        <div class="create_acc">
            <form>
                <div class="ok-img">
                  <img class="ok" src="../assets/images/ok.png">
                </div>
                <div class="title">
                  <div class="thanks-title">
                    Thanks XXXXXX!
                  </div>
                  <div class="info-title">
                    Your H&L Could Account has been successfully created. You will receive an email shortly.
                  </div>
                </div>
                <div class="submit_btn">
                    <a routerLink="/login" type="submit" class="btn next-btn">SIGN IN</a>
                </div>
            </form>
        </div>
    </div>