<button class="close-btn" [md-dialog-close]="true">&times;</button>
<h1 md-dialog-title>My Workplaces</h1>
<md-dialog-content>
    <button class="wp-group-item" [md-dialog-close]="true" routerLink="rosters">
        <div class="row">
            <div class="wp-title pull-left">
                RESTAURANT GROUP
            </div>
            <div class="wp-subscriptions pull-right">
                Subscriptions
            </div>
        </div>
        <div class="row">
            <div class="wp-role pull-left">
                Administrator
            </div>
            <div class="wp-site-count pull-right">
                5 Sites
            </div>
        </div>
    </button>
    <button class="wp-group-item" [md-dialog-close]="true" routerLink="rosters">
        <div class="row">
            <div class="wp-title pull-left">
                RESTAURANT1
            </div>
            <div class="wp-subscriptions pull-right">
                
            </div>
        </div>
        <div class="row">
            <div class="wp-role pull-left">
                Employee
            </div>
            <div class="wp-site-count pull-right">
                1 Site
            </div>
        </div>
    </button>
    <button class="wp-group-item" [md-dialog-close]="true" routerLink="rosters">
        <div class="row">
            <div class="wp-title pull-left">
                RESTAURANT2
            </div>
            <div class="wp-subscriptions pull-right">
                
            </div>
        </div>
        <div class="row">
            <div class="wp-role pull-left">
                Employee
            </div>
            <div class="wp-site-count pull-right">
                1 Site
            </div>
        </div>
    </button>
    
</md-dialog-content>
