<div class="container">
  <div class="title-field">
    <div class="title">Decline Shift</div>
    <div class="username">Username</div>
    <div class="menu-btn">
      <img src="../assets/images/location-btn.png">
    </div>
  </div>
  <div class="shift-panel">
    <div class="info">
      <div class="day-field">
        <div class="stick blue-stick"></div>
        <div class="day">
          <div class="date">12</div>
          <div class="week">THU</div>
        </div>
      </div>
      <div class="time-field">
        <div class="time">9:00am - 5:30pm</div>
        <div class="user-role">Admin <b>(Payroll)</b></div>
      </div>
    </div>
    <div class="reason-title">
      Reason for declining shift?
    </div>
    <div class="reason-input">
      <textarea id="reason" type="text" class="form-control" name="reason" placeholder="I have a birthday party"></textarea>
    </div>
  </div>
  <div class="button-group">
    <a type="button" class="btn btn-primary decline-btn pull-right">DECLINE SHIFT</a>
    <a class="cancel-btn pull-right">CANCEL</a>
  </div>

</div>