.for_reset_pass{
	width: 100%;
	height: 800px;
	background-color: #efefef;
	
}
.reset_pass{
	margin: 0 auto;
	width: 795px;
}
.form_title{
	font-size: 21px;
	color: #333;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin: 200px 0 20px 0;
}
.reset_pass form{
	background-color: #fff;
	border-radius: 8px;
	height: 240px;
	box-shadow: 5px 5px 5px rgb(230,230,230)
}
.reset_pass form .form-group{
	margin: 17px 0 10px 0;
}
.reset_pass form .form-group label{
	font-size: 13px;
	color: #333;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-bottom: 3px; 
}
.input-group{
	position: relative;
	width: 100%;
}
.input-group input{
	padding-left: 40px;
	background-color: #f8f8f8;
	height: 40px;
	border-radius: 4px!important;
}
.pass-png{
	position: absolute;
	top:10px;
	left:10px;
	z-index: 10;
}
.pass_require{
	font-size: 10px;
	color: #666;
	font-family: 'Lato', sans-serif;
	margin-left: 15px;
}
.line1, .line2{
	padding: 0;
}
.line2 .form-group{
	margin-top: 0px!important;
}
.pd_left7{
	padding-left: 7px;
}
.pd_right7{
	padding-right: 7px;
}
.submit_btn{
	padding: 0 15px;
}
.submit_btn a{
	height: 40px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 11px;
	line-height: 40px;
}
.submit_btn a:first-child{
	background-color: #fff;
	color: #6a6a6a;
	border: 0;
	padding: 0px 25px;
	outline: none!important;
	
}
.submit_btn a:last-child{
	background-color: #3078c0;
	color: #fff;
	border-radius: 40px;
	width: 230px;
	padding:0;
	outline: none!important;
}
.logos{
	text-align: center;
	margin: 37px 0;
}
.logos img:first-child{
	padding-right: 27px;
	border-right: 2px solid #c7c7c7;
}
.logos img:nth-child(2){
	padding-left: 27px;
	padding-right: 20px;
}
.create_account_title{
	padding: 15px;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #666;
}
.create_acc{
	margin: 0 auto;
    width: 795px;
}
.create_acc form{
	height: 387px;
	background-color: rgb(255, 255, 255);
    box-shadow: rgb(230, 230, 230) 5px 5px 5px;
    border-radius: 8px;
}
.submit_btn{
	margin-top: 10px;
}
.submit_btn div{
	height: 40px;
	line-height: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	color: #666;
}
.submit_btn div a{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #1875f0;
}
.create_acc .submit_btn button{
	width: 278px;
}