<div class="container for_reset_pass">
        <div class="reset_pass">
            <div class="form_title">Reset your Password</div>
            <form>
                <div class="col-xs-12 line1">
                    <div class="col-xs-6 pd_right7">
                        <div class="form-group">
                            <label for="current_pass">Current Password</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/password-icon.png">
                                <input id="current_pass" type="password" class="form-control" name="pwd" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6"></div>
                </div>
                <div class="col-xs-12 line2">
                    <div class="col-xs-6 pd_right7">
                        <div class="form-group">
                            <label for="current_pass">New Password</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/password-icon.png">
                                <input id="current_pass" type="password" class="form-control" name="pwd" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 pd_left7">
                        <div class="form-group">
                            <label for="current_pass">Confirm Password</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/password-icon.png">
                                <input id="current_pass" type="password" class="form-control" name="pwd" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pass_require">Your password must be at least 6 characters.</div> 
                <div class="submit_btn pull-right">
                    <a type="submit" class="btn">CANCEL</a>
                    <a routerLink="/login" type="submit" class="btn">SAVE CHANGES</a>
                </div>
            </form>
        </div>
    </div>