<div class="container">
  <div class="row filter-bar">
    <label>Order by:</label>
    <ng-select
            placeholder="SelectFilters"
            [options]="orderFilters"
            [(ngModel)]="selectedOrder"
            class="selectpicker">
      </ng-select>
      <label>Filter by: </label>
      <ng-select
            placeholder="SelectFilters"
            [options]="filters"
            [(ngModel)]="selectedFilter"
            class="selectpicker">
      </ng-select>
      <div class="search-box">
          <span class="glyphicon glyphicon-search search-icon"></span>
          <input type="text" class="search-input form-control" placeholder="Search" />
      </div>
  </div>
  <div class="row export-csv-bar">
    <h5>EMPLOYEES</h5>
    <button class="btn btn-primary">EXPORT CSV</button>
  </div>
  <div class="row data-table">
    <table class="table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Payroll ID</th>
          <th>Site</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Employment Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of getEmployees(); let i = index">
          <td>{{employee.name}}</td>
          <td>{{employee.id}}</td>
          <td>{{employee.site}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.mobile}}</td>
          <td>{{employee.status}}</td>
          <td>
            <div *ngIf="!employee.other;else other">
              <img src="../assets/images/info-circle.png" (click)="showToolTip(i)">
              <div *ngIf="tooltip[i]" class="tooltip-box">
                <div class="triangle-up"></div>
                <div class="tooltip-title">Reinvite Employee</div>
                <button class="btn btn-primary mt20 tooltip-btn" (click)="openInviteDialog()">SEND INVITE</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #other>
      <img src="../assets/images/check-circle.png">
    </ng-template>
  </div>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" *ngFor="let employee of getEmployees();let i = index">
      <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
              <a data-toggle="collapse" data-parent="#accordion" href="#{{i}}">
              <div class="col-xs-4">{{employee.name}}</div>
              <div class="col-xs-4">{{employee.mobile}}</div>
              <div class="col-xs-3">{{employee.status}}</div>
              </a>
              <div cass="col-xs-1">
                <div *ngIf="!employee.other;else other">
                  <img src="../assets/images/info-circle.png" (click)="showToolTip(i)">
                  <div *ngIf="tooltip[i]" class="tooltip-box">
                    <div class="triangle-up"></div>
                    <div class="tooltip-title">Reinvite Employee</div>
                    <button class="btn btn-primary mt20 tooltip-btn">SEND INVITE</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div id="{{i}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3">Payroll ID:</div>
            <div class="col-xs-9">{{employee.id}}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Site:</div>
            <div class="col-xs-9">{{employee.site}}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Email:</div>
            <div class="col-xs-9">{{employee.email}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary mobile-export-button">EXPORT</button>
    </div>
  </div>
  <div class="row pagenation-bar">
    <div class="btn-group">
      <button type="button" class="btn btn-default" (click)="getPreviousPage()"><</button>
      <button type="button" class="btn btn-default" (click)="getNextPage()">></button>
    </div>
    <h5 class="page-title">page {{pageIndex}} of {{totalCount}}</h5>
  </div>
</div>


