.container{
    padding-bottom:80px;
}
.filter-bar{
    margin-top:15px;
    margin-bottom:15px;
}
.filter-bar .selectpicker{
    background-color:#333333;
    color:#fff;
    width:135px;
    height:26px;
    font-size:12px;
    text-align-last: center;
    border-radius: 13px;
    outline: 0px;
    font-family: 'Lato', sans-serif;
    font-size : 12px!important;
    margin-right:35px;
}
.filter-bar .selectpicker{
    margin-right:35px;
}
.filter-bar select{
    font-family: 'Lato', sans-serif;
    font-size : 12px;
    color:#fff;
}
.filter-bar label{
    color:#9b9b9c;
    font-family: 'Open Sans', sans-serif;
    font-size : 12px;
    font-weight: 400;
    letter-spacing: 0.5px!important;
}
.export-csv-bar{
    height: 61px;
    background-color:#fff;
}
.export-csv-bar h5{
    float: left;
    margin-left:18px;
    font-weight: bold;
    margin-top:23px;
    font-family: 'Open Sans', sans-serif;
    font-size : 12px;
    font-weight: bold;
}
.export-csv-bar button{
    width:194px;
    height:40px;
    margin-top:10px;
    margin-right:18px;
    border-radius: 20px;
    float: right;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size : 11px;
    font-weight:bold;
}
.data-table table{
    margin-bottom: 0px;
    
}
.data-table thead tr{
    height:59px;
    background-color:#f2f4f7;
    border-top:1px solid #dadcdd;
    border-bottom:0px;
    
}
.data-table thead tr th{
    line-height: 59px;
    text-align: left;
    padding:0px;
    padding-left:20px;
    border-right:1px solid #dadcdd;
    color:#8f8f8f;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
}
.data-table thead tr th:last-child{
    border-right:none;
}
.data-table tbody{
    background-color:white;
}
.data-table tbody tr td{
    height: 41px;
    border-right:1px solid #dadcdd;
    font-family: 'Lato', sans-serif;
    font-size : 13px;
    font-weight:600;
    padding-left:20px;
    letter-spacing: 0.1px!important;
}
.data-table tbody tr td:last-child{
    text-align: center;
    border-right:none;
    padding-left:8px;
}
.pagenation-bar{
    height:40px;
    margin-top:25px;
    margin-bottom:15px;
}
.pagenation-bar .btn-group{
    position: absolute;
    left: 50%;
    margin-left:-50px;
}
.pagenation-bar .btn-group button:first-child{
    width:50px;
    height:40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
}
.pagenation-bar .btn-group button:last-child{
    width:50px;
    height:40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
}
.pagenation-bar .btn-group button:focus{
    background-color:#fff;
    border-color:#8c8c8c;
}
.pagenation-bar .page-title{
    color:#9b9b9b;
    float: right;
    font-family: 'Lato', sans-serif;
    font-size : 13px;
    font-weight:400;
}
#accordion{
    display: none;
}
.mobile-export-button{
    display: none;
}
.mt20{
    margin-top:20px;
}
.tooltip-box{
    width:200px;
    position:absolute;
    background-color:#222c3c;
    width:193px;
    height:109px;
    margin-left:-156px;
    margin-top:10px;
    z-index: 1000;
    text-align: center;
}
.tooltip-title{
    color:#6b7b93!important;
    font-size:14px;
    margin:0 15px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #6b7b93;
}
.tooltip-btn{
    width:155px;
    height:26px;
    line-height: 26px;
    padding:0px;
    font-size:10px;
    border-radius: 13px;
    font-family: 'Lato';
    font-weight:700;
    outline: none!important;
}
.triangle-up {
    width: 14%;
    height: 0;
    padding-left: 7%;
    padding-bottom: 10%;
    margin-top: -10px;
    margin-left: 159px;
    overflow: hidden;
}
.triangle-up:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #222c3c;
}

@media screen and (max-width:767px){
    .filter-bar label{
        display: none;
    }
    .data-table{
        display: none;
    }
    .export-csv-bar{
        display: none;
    }
    .container{
        padding:0;
    }
    .pagenation-bar{
        margin-top:10px;
    }
    .mobile-export-button{
        float: right;
        width:35.33vw;
        height:6.933vw;
        /* min-width:150px;
        min-height:40px; */
        border-radius: 1.333vw;
        line-height: 6.933vw;
        padding:0;
        display: block;
        font-family: 'Lato';
        font-weight: 700;
        font-size:2.9333vw;
        background-color: #3078c0!important;
    }
    #accordion{
        display: block;
    }
    .pagenation-bar .page-title{
        color:#9b9b9b;
        float: right;
        margin-right:10px;
    }
    .panel-body{
        background-color:#f2f4f7;
    }
    
    .panel-heading{
        background-color:white;
    }
    .panel-heading .panel-title div{
        font-family: 'Lato';
        font-size: 3.4667vw;
        font-weight:400;
        color:#333;
    }
    .filter-bar .selectpicker{
        margin-left:15px;
        margin-right:0px;
    }
    .panel-group .panel+.panel{
        margin-top:0px;
    }
    .panel{
        border:none;
        border-bottom:1px solid #f2f4f7;
    }
    .tooltip-box{
        width:200px;
        position:absolute;
        background-color:#222c3c;
        width:193px;
        height:109px;
        margin-top:10px;
        z-index: 1000;
        right:6vw;
        text-align: center;
    }
    .tooltip-title{
        color:#6b7b93!important;
        font-size:14px!important;
        margin:0 15px;
        height:40px;
        line-height:40px;
        border-bottom:1px solid #6b7b93;
    }
    .filter-bar{
        text-align: center;
    }
    .filter-bar .selectpicker{
        background-color:#333333;
        color:#fff;
        width:45.06667vw;
        height:9.2vw!important;
        font-size:3.2vw!important;
        text-align-last: center;
        border-radius: 1.333vw;
        outline: 0px;
        font-family: 'Lato', sans-serif;
        margin:3.33vw 0.66vw;
    }
}