<div class="container-fluid login-background">
  <div class="login-form">
    <img class="account" src="../assets/images/account.png">
    <form class="form-panel">
      <div class="">
        <h6 class="title">Enter a new password for xxxx@xxxx.com.au</h6>
      </div>
      <div class="form-group">
        <img src="../assets/images/login-password.png">
        <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password">
      </div>
      <div class="form-group">
        <img src="../assets/images/login-password.png">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h6 class="pull-left info-text">Your password must be at least 6 characters</h6>
        </div>
      </div>
      <div class="button-group">
        <a type="button" class="cancel-btn pull-left">CANCEL</a>
        <a routerLink="/resetlink" type="button" class="btn btn-primary reset-btn pull-right">RESET PASSWORD</a>
      </div>
    </form>
    <img class="hllogo" src="../assets/images/hllogo.png">
  </div>
</div>